@using MilkTeaStoreApp.Areas.Identity.Data
@using MilkTeaStoreApp.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject MilkTeaStoreTwoContext DbContext;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class='nav-item'>
            <a class="nav-link text-white" asp-controller="Cart" asp-action="Index">
                <i class="fa-solid fa-cart-shopping p-1" style='border: 1px solid black; border-radius: 10px; color: black'>
                    <span class='badge text-black' id='cart-count'></span>
                </i>
            </a>
        </li>
        @if (ViewData["Dashboard"] != null)
        {
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
        }
        <li class="nav-item d-flex align-items-center">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    @{
                        var name = await DbContext.Account.FindAsync(UserManager.GetUserId(User));
                        <text>Hello @name!.FirstName</text>
                    }
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" id="manage nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Order" asp-action="Index">My Orders</a>
                    </li>
                    <li class="dropdown-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="btn text-start p-1 text-dark border-0">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div class="toast-container">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Message</strong>
                        <small id="toast-age"></small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body text-black">
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

@if (SignInManager.IsSignedIn(User))
{
    <script>
        
            function loadCartCount(){
                
                fetch('/Cart/GetCartCount').then(response => response.json()).then(data => {
                    document.getElementById('cart-count').innerHTML = data;
                }).catch(error => {
                })
                
            }
            function getNotifications(){
                let result;
                fetch('/Order/FetchUserNotification/').then(response => response.json()).then(data => {
                    if (data.length > 0){
                     result = data;
                     let toast = new bootstrap.Toast(document.getElementById('liveToast'));
                     let toastBody = document.getElementById('liveToast').querySelector('.toast-body');
                        toastBody.innerHTML = data[0].message;
                        toastBody.style.cursor = 'pointer';
                        toastBody.addEventListener('click', function(){
                            window.location.href = '/Order/Details/' + data[0].id;
                        });
                        document.getElementById('toast-age').innerHTML = "Just now";
                        toast.show();
                        let request = new XMLHttpRequest();
                        request.open('POST', `/Order/ReadNotification/${result[0].id}`, true);
                        request.send();
                    }
                    });
                
            }
            
            getNotifications();
            loadCartCount();
        </script>
}