@using MilkTeaStoreApp.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<OrderDetail>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var acc = (UserAccount)ViewData["user"]!;
}

<h1>Details</h1>

@if (Model.Any())
{
    <div class="row">
        <div class="col-8">
            @foreach (var products in Model)
            {
                <div class="row col-12">
                    <div class="col-md-2 d-flex align-items-center">
                        <img src="@Url.Content(products.Product.ImagePath!.Substring(1))" class="img" width="135px" alt=""/>
                    </div>
                    <div class="col-md-10">
                        <h4>@products.Product.ProductName</h4>
                        <p>Price: @products.Product.Price</p>
                        <p>Quantity: @products.Quantity</p>
                        <p>Total: @products.TotalPrice</p>
                    </div>
                    <hr/>
                </div>
            }
        </div>
        <div class="col-4 p-3 order-summary">
            <div class="row justify-content-center">
                <div class="col-12 row">
                    <h1 class="fw-bolder mb-5 text-center">Order Details</h1>
                    <div class="d-flex justify-content-between">
                        <p>Quantity</p>
                        <p>@Model.Sum(p => p.Quantity)</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Total</p>
                        <p>@Model.Sum(p => p.Product.Price * p.Quantity)</p>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-12">
                        <h5 class="fw-bolder">
                            Address Info
                        </h5>
                        <div class="row">
                            <div class="col-12 row justify-content-between">
                                <p class="col-5">Account Name</p>
                                @{
                                    var firstName = acc.FirstName;
                                    var lastName = acc.LastName;
                                    var fullName = $"{firstName} {lastName}";
                                    <p class="text-wrap col-7 text-end">@fullName</p>
                                }
                            </div>
                            <div class="col-12 row justify-content-between">
                                <p class="col-5">Address</p>
                                @{
                                    var street = acc.Street;
                                    var province = acc.Province;
                                    var address = $"{street} {province}";
                                    <p class="text-wrap col-7 text-end">@address</p>
                                }
                            </div>
                            <div class="col-12 row justify-content-between">
                                <p class="col-5">Phone Number</p>
                                <p class="col-7 text-end">@acc.PhoneNumber</p>
                            </div>
                            @if (Convert.ToBoolean(ViewData["Status"]))
                            {
                                <button class="col-12 btn p-2 fw-bolder btn-outline-dark" id="place-order">Cancel Order</button>
                            }
                            else
                            {
                                <button disabled class="col-12 btn p-2 fw-bolder btn-outline-dark" id="place-order">Cancel Order</button>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
}