@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">My Orders</h2>
<div class="row">
    @if (Model.Any())
    {
        foreach (var order  in Model)
        {
            <div class="col-12 row p-2 mb-3 justify-content-between align-items-stretch" style="border: 1px solid black; border-radius: 5px">
                <div class="col-4 align-items-center">
                    <p class="fw-bolder mt-1">Order No: @order.OrderId</p>
                    <p class="fw-bolder">Created Date: @($"{order.CreatedDate:dd/MM/yyyy}")</p>
                    <p class="fw-bolder">Order Status: @($"{order.Status}")</p>
                </div>
                <div class="col-4">
                    <p class="fw-bolder mt-1">Total: @order.OrderDetails.Sum(p => p.TotalPrice)</p>
                </div>
                <div class="col-4 row justify-content-end align-items-end">
                    <div class="col-4 d-flex justify-content-end">
                        <a asp-controller="Order" asp-action="Details" asp-route-id="@order.OrderId" class="btn btn-sm btn-outline-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    }
</div>