@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
 <h1>Browse Products</h1>
 <div class="row">
     @if (Model.Any())
     {
         @foreach (var item in Model)
         {
             <div class="col-md-4">
 
                 <div class="card" style="width:300px">
                     <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
                         <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="" width="300px"/>
                     </a>
                     <div class="card-body">
                         <h5 class="card-title">
                             @Html.DisplayFor(modelItem => item.ProductName)
                         </h5>
                         <h6 class="card-subtitle text-muted">
                             @Html.DisplayFor(modelItem => item.Price)
                         </h6>
                         <p class="card-body p-0">
                             @Html.DisplayFor(modelItem => item.Description)
                         </p>
                         <button class="btn btn-outline-success"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
                         <button class="btn btn-outline-primary" onclick="addToCart(@item.ProductId)">
                             <i class="fa-solid fa-heart"></i> Add to Cart
                         </button>
                     </div>
                 </div>
             </div>
         }
     }
     else
     {
         <h2>No Products is available now. Come back later!</h2>
     }
 
 </div>
   
</div>

@section Scripts
{
    <script src="js/browseproduct.js"></script>
}