﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .banner {
    background-image: url("bg.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; min-height: 70vh;
    }
</style>

<div class="banner row align-items-center justify-content-center overflow-hidden">
    
    <div class="col-2 align-items-center">
        <p class="text-center text-muted fw-bolder" style="font-size: 20px">Welcome to</p>
        <h2 class="text-center fw-bolder" style="font-size: 50px">Bubble Tea Shop</h2>
    </div>
    <div class="col-2"></div>
</div>

<div class="content container">
    <div class="row">
        <div class="col-12 mt-3">
            <h1 class="text-center">Our Latest Drink</h1>
            <div class="d-flex justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="card m-2" style="width:300px">
                     <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
                         <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="" width="300px"/>
                     </a>
                     <div class="card-body">
                         <h5 class="card-title">
                             @Html.DisplayFor(modelItem => item.ProductName)
                         </h5>
                         <h6 class="card-subtitle text-muted">
                             @Html.DisplayFor(modelItem => item.Price)
                         </h6>
                         <p class="card-body p-0">
                             @Html.DisplayFor(modelItem => item.Description)
                         </p>
                         
                     </div>
                 </div>
                }
            </div>
        </div>
    </div>
</div>
