@using MilkTeaStoreApp.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Cart>

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var acc = (UserAccount)ViewData["user"]!;
}


<h2>Summary</h2>

@if (Model.Any())
{
    <div class="row">
        <div class="col-8">
            @foreach (var product in Model)
            {
                <div class="col">
                    <div class="p-2 mb-2 rounded-1 d-flex justify-content-between" style="background-color: #a89ca2;">
                        <div class="d-flex gap-2">
                            <img src="@product.Product.ImagePath?.Substring(1)" alt="" width="100px" class="rounded-2"/>
                            <div>
                                <p class="mb-0">Item Name:</p>
                                <p>@Html.DisplayFor(p => product.Product.ProductName)</p>
                                <p class="mb-0">Price:</p>
                                <p>@Html.DisplayFor(p => product.Product.Price)</p>
                            </div>
                        </div>
                        <div>

                            <p class="mb-0 d-block">Quantity</p>
                            <p>@product.Quantity</p>

                        </div>
                        <div></div>
                    </div>
                </div>
            }
        </div>
        <div class="col-4 p-3 order-summary">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="fw-bolder mb-5">Order Summary</h1>
                    <div class="d-flex justify-content-between">
                        <p>Quantity</p>
                        <p>@Model.Sum(p => p.Quantity)</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Total</p>
                        <p>@Model.Sum(p => p.Product.Price * p.Quantity)</p>
                    </div>
                </div>
                <div class="col-12 mt-2 mb-2">
                    <h5 class="fw-bolder">
                        Payment Method
                    </h5>
                    <div class="row p-3">
                        <div class="p-3 col-6 payment-method-card">
                            <label class="ms-2">
                                <input type="radio" class="form-check-input">
                                Cash on Delivery
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 row">
                    <div class="col-12">
                        <h5 class="fw-bolder">
                            Address Info
                        </h5>
                        <div class="row">
                            <div class="col-12 row justify-content-between">
                                <p class="col-5">Account Name</p>
                                @{
                                    var fullName = $"{acc.FirstName} {acc.LastName}";
                                    <p class="text-wrap col-7">@fullName</p>
                                }
                            </div>
                            <div class="col-12 row justify-content-between">
                                <p class="col-5">Address</p>
                                @{
                                    var street = acc.Street;
                                    var province = acc.Province;
                                    var address = $"{street} {province}";
                                    <p class="text-wrap col-7">@address</p>
                                }
                            </div>
                            <div class="col-12 row justify-content-between">
                                <p class="col-5">Phone Number</p>
                                <p class="col-7">@UserManager.GetUserAsync(User).Result!.PhoneNumber</p>
                            </div>
                            <button class="col-12 btn p-2 fw-bolder btn-outline-dark" id="place-order">Place Order</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

@section Scripts
{
    <script>
     $(document).ready(function (){
          $("#place-order").click(function (){
              placeOrder();
          });
     });
     function placeOrder(){
         const carts = [];
         @foreach (var item in Model)
         {
             <text>
             carts.push({
                 cartId: @item.CartId,
                 productId: @item.ProductId,
                 quantity: @item.Quantity
             });
             </text>
         }
         
         $.ajax({
             url: '/Cart/PlaceOrder/',
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(carts),
             success: function (res) {
                 console.log(res);
                 window.location.href = `/Cart/PlaceOrder/${res.orderId}`;
             },
             error: function (res, status) {
                 console.log(res);
                 console.log(status);
                 alert('Submit failed!');
             }
         })
     }
     </script>

}}
else
{
    <h1>No data available</h1>
}