@model IEnumerable<Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Delete this items from your cart?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="delete-confirm">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>


<h1 class="p-5">Your Carts</h1>

<div class="row">

    <div class="col-1 justify-content-center align-items-center">
    </div>
    <div class="col-10 p-2 min-vh-100" id="carts">

        @if (Model.Any())
        {
            <div class="d-flex justify-content-end mb-2">
                <button id="delete-btn" class="btn btn-outline-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
            <div class="align-items-center mt-1">
                @foreach (var product in Model)
                {
                    <div class="p-2 mb-2 rounded-1 d-flex justify-content-between" style="background-color: #a89ca2;">
                        <div class="d-flex gap-2">
                            <img src="@Html.DisplayFor(modelItem => product.Product.ImagePath)" alt="" width="100px" class="rounded-2"/>
                            <div>
                                <p class="mb-0">Item Name:</p>
                                <p>@Html.DisplayFor(p => product.Product.ProductName)</p>
                                <p class="mb-0">Price:</p>
                                <p>@Html.DisplayFor(p => product.Product.Price)</p>
                            </div>


                        </div>
                        <div>
                            <p class="mb-0">Quantity</p>
                            <div class="input-group">
                                <input type="number" class="form-control" id="quantity-@product.CartId" min="1" value="@product.Quantity" onchange="setItemQuantity(@product.CartId)">
                            </div>

                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <input type="checkbox" class="form-check-input me-3" value="@product.CartId">
                        </div>
                    </div>
                }
            </div>

            <div class="justify-content-end d-flex mt-3">
                <button id="checkout" class="btn btn-primary fw-bolder p-2 pt-3 pb-3">Proceed to Checkout</button>
            </div>
        }
        else
        {
            <div class="text-center">No items in cart</div>
        }


    </div>
    <div class="col-1">

    </div>
</div>
<div class="row justify-content-end"></div>

@section Scripts
{
    <script src="js/cart.js"></script>
}