@model Order

@{
    ViewBag.Title = "Order Success!";
    Layout = "_Layout";
}

<div class="row justify-content-center align-items-baseline min-vh-100 bg-success pt-5 pb-5">
    <div class="col-md-8 rounded-2 p-5 bg-white text-center">
        <i class="fa-solid fa-circle-check d-block text-center mb-3" style="font-size: 100px;"></i>
        <h2>Order Success!</h2>
        <p>Your order has been placed successfully.</p>
        <p>Order ID: @Model.OrderId</p>
        <p>Order Total: @Model.OrderDetails.Sum(orderDetails => orderDetails.TotalPrice)</p>

        <a class="btn btn-outline-success" asp-controller="Product" asp-action="Index">Continue Shopping</a>
    </div>
</div>