﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center">
    <div class="col-md-4 border-1">
        <section>
        
            <h1 class="text-center">@ViewData["Title"]</h1>
            <p class="text-center">Please login to continue.</p>
            <form id="account" method="post">
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class="mt-3">
                    <p class="">
                        <a asp-page="./Register" class="text-center btn btn-lg btn-success mx-auto d-block" style="text-decoration: none" asp-route-returnUrl="@Model.ReturnUrl">Create Account</a>
                    </p>
                    <p class="text-center">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <!-- <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3> 
             <hr/>
            @{
                //if ((Model.ExternalLogins?.Count ?? 0) == 0)
                //{
                //    <div>
                //        <p>
                //            There are no external authentication services configured. See this
                //            <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                //                article
                //                about setting up this ASP.NET application to support logging in via external services
                //            </a>.
                //        </p>
                //    </div>
                //}
                //else
                //{
                //    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                //        <div>
                //            <p>
                //                @foreach (var provider in Model.ExternalLogins!)
                //                {
                //                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                //                }
                //            </p>
                //        </div>
                //    </form>
                //}
            }
        </section>
    </div> -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}