﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row justify-content-center">
    <div class="col-md-6">
            <img src="~/logo.png" alt="" class="d-block mx-auto" width="100px">
            <h3 class="text-center">Create a new account.</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="mt-3 mb-3">
            <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Input.Gender" id="male" value="Male">
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Input.Gender" id="female" value="Female">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>    
            </div>
            

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.Province">Province</label>
                <select class="form-select mt-2" asp-for="Input.Province" asp-items="@Model.Provinces"></select>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Street" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.Street">Street Address</label>
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">+63</span>
                    <input type="number" asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone number"
                           aria-label="Phone Number" aria-describedby="addon-wrapping">
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <!-- <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr/>
            @{
                //if ((Model.ExternalLogins?.Count ?? 0) == 0)
                //{
                //    <div>
                //        <p>
                //            There are no external authentication services configured. See this
                //            <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                //                article
                //                about setting up this ASP.NET application to support logging in via external services
                //            </a>.
                //        </p>
                //    </div>
                //}
                //else
                //{
                //    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                //        <div>
                //            <p>
                //                @foreach (var provider in Model.ExternalLogins!)
                //                {
                //                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                //                }
                //            </p>
                //        </div>
                //    </form>
                //}
            }
        </section>
    </div> -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}